.table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}

.container.top50 {
    margin-top: 50px;
}

.alert.top50 {
    margin-top: 50px;
}

#colorFooter {
	background-color: #eee;
}

.input.input-in {
  font-size: 20px;
}

.a.custom {
    width: 78px !important;
}

.alert.alert-auto {
	display:inline-block;
}

.form-signin.form-margin{
    margin: -18px;
}
